/* Progress */
@font-face {
  font-family: "ProgressLight";
  src: url("/fonts/progress/Progress-Light.woff") format("woff");
}
@font-face {
  font-family: "ProgressMedium";
  src: url("/fonts/progress/Progress-Medium.woff") format("woff");
}
@font-face {
  font-family: "ProgressRegular";
  src: url("/fonts/progress/Progress-Regular.woff") format("woff");
}
@font-face {
  font-family: "ProgressSemiBold";
  src: url("/fonts/progress/Progress-SemiBold.woff") format("woff");
}

/* Poppins */
@font-face {
  font-family: "PoppinsLight";
  src: url("/fonts/poppins/Poppins-Light.woff") format("woff");
}
@font-face {
  font-family: "PoppinsLightItalic";
  src: url("/fonts/poppins/Poppins-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/fonts/poppins/Poppins-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("/fonts/poppins/Poppins-Medium.woff") format("woff");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
